@font-face {
    font-family: 'Cinzel';
    src: url('fonts'), url('fonts/Cinzel-variableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Cinzel', serif;
}
*{
    background: black;
    color:white;
    box-sizing: border-box;
}
.Banner{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.menuBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    background-color: #FF0000;
}
.menuBarText{
    text-decoration: none;
    color: white;
    background-color: #FF0000;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.menuBarText:hover{
    color: gray;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF0000;
}
.mid-text{

    display: flex;
    justify-content: center;
    align-items: center;

}
.footerText{
    color: white;
    font-size: 20px;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
.forSnapText{
    color:white;
    background-color: #FF0000;
    justify-content: right;
    align-items: end;
    padding-right: 10px;
}
.AboutBody, .MainBody{
    display: flex;
    margin: 0 100px;
    flex-direction: column;
}
.TLP{
    display: flex;
    flex:1;
    justify-content: left;
    align-items: center;
    font-size: 20px;

}
.TruckLife{
    display:flex;
    justify-content: center;
    align-items: center;
}
.Fries{
    flex:1;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:100px;
}
.BrickandMorter{
    display:flex;
    justify-content: left;
    margin-bottom: 300px;
}
.Salads {
    flex: 1;
    flex-direction: column;
    margin-top: 50px;
}
.Burger{
    flex: 1;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:100px;
}
h3{
    text-align: center;
    margin: 0;
    background:darkred ;
}
.image{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:5px solid dimgray;
    margin-top: 50px;

}
.burgerPicture{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menuLink{
    font-size: 30px;
    color: white;
    margin-top: 100px;
    margin-bottom:300px;
}